In [9]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint 
from datetime import datetime


# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [10]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=50)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=50)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

44

In [11]:
# city_series = pd.Series((lats, lngs, cities))
# city_series

In [12]:
url = "http://api.openweathermap.org/data/2.5/weather?"

weather_data = []
temp = []
humidity = []
cloud = []
wind = []
country = []
date = []
city_name = []
record= 1
total_record = len(cities)

units = 'imperial'

for city in cities:

    query_url = f"{url}appid={weather_api_key}&units={units}&q="

    response = requests.get(query_url + city).json()
#     print(response)
    try:
        city_name.append(response['name'])
        temp.append(response['main']['temp_max'])
        humidity.append(response['main']['humidity'])
        cloud.append(response['clouds']['all'])
        wind.append(response['wind']['speed'])
        country.append(response['sys']['country'])
        date.append(response['dt'])
        
        print(f"Processing Record {record} of {total_record}  | {city}" )
        
        record += 1
    except:
         print("City not found. Skipping...")

City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...

In [13]:
pprint(response)

{'cod': 429,
 'message': 'Your account is temporary blocked due to exceeding of requests '
            'limitation of your subscription type. Please choose the proper '
            'subscription http://openweathermap.org/price'}

In [6]:
weather_data = pd.DataFrame(( city_name, country, lats, lngs, temp, humidity, cloud, wind, date), 
                            index=('City ', 'Country', 'Latitude', 'Longitude',  'Temperature', 'Humidity', 'Cloudiness', 'Wind Speed', 'Date')).T
# columns=('Latitude', 'Longitude', 'City', 'Temperature', 'Humidity', 'Cloudiness', 'Wind Speed')
weather_data.head(50)

,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Date
0,Hithadhoo,MV,-12.9123,80.7759,84.31,69,15,5.53,1604566635
1,Bredasdorp,ZA,-84.5771,25.4623,69.8,83,100,3.36,1604566635
2,Champerico,GT,9.25638,-94.6837,69.01,94,100,9.8,1604566635
3,Punta Arenas,CL,-63.5096,-107.755,48.2,87,0,13.87,1604566635
4,Naugachhia,IN,25.4823,86.9183,85.48,24,0,8.43,1604566434
5,Lebu,CL,-31.3751,-93.7432,47.37,86,0,8.72,1604566636
6,Kahului,US,26.6172,-153.769,80.6,65,20,5.82,1604566433
7,Parrita,CR,6.49023,-86.2608,68,100,90,4.7,1604566636
8,Port Blair,IN,10.7889,89.9016,84.04,69,0,10.11,1604566636
9,Hobart,AU,-53.9108,155.886,55.4,50,40,17.22,1604566400
10,Marondera,ZW,-17.8078,31.5445,79.97,40,72,10.76,1604566636
11,Ushuaia,AR,73.8382,-22.1377,46.4,75,75,10.29,1604566568
12,Jamestown,US,-80.8042,-17.3433,53.01,50,1,9.17,1604566590
13,Mataura,NZ,-34.2521,-2.81393,46.99,95,100,7,1604566637
14,Busselton,AU,-87.3281,-165.957,81,22,58,11.56,1604566637
15,Port Shepstone,ZA,-47.4012,97.923,76.55,75,77,19.77,1604566637
16,Butaritari,KI,-68.52,150.901,81.79,77,99,8.32,1604566637
17,Coyhaique,CL,-32.3374,33.2804,41,80,75,1.12,1604566637
18,Tamandaré,BR,25.3107,178.12,77.5,82,59,6.78,1604566638
19,Bluff,NZ,-49.9904,-82.6058,46.99,95,100,7,1604566638
20,Rikitea,PF,-76.6977,93.6975,73.6,69,1,10.47,1604566638
21,Karpathos,GR,-75.2297,59.1591,69.8,52,20,26.4,1604566638
22,Tasiilaq,GL,-9.74889,-31.17,24.26,81,100,10.76,1604566639
23,Pisco,PE,-65.1219,167.316,61,87,90,3.36,1604566639
24,East London,ZA,37.1597,65.5055,69.8,94,75,8.05,1604566639
25,Nikolskoye,RU,-42.6153,-140.974,46.4,75,75,17.9,1604566639
26,Port Alfred,ZA,-0.340486,74.8405,74.05,77,100,16.37,1604566446
27,Narsaq,GL,33.7109,28.0869,26.6,92,100,1.12,1604566535
28,Paso de Carrasco,UY,81.6168,-35.6288,53.6,81,0,8.05,1604566640
29,Mogadishu,SO,-17.6306,-83.1849,86,62,40,8.05,1604566530
30,Port Elizabeth,ZA,-54.2269,-62.5965,68,100,75,4.7,1604566640
31,Vaini,TO,-52.826,45.4171,73.4,88,20,6.93,1604566640
32,Bathsheba,BB,34.0312,177.348,78.8,74,20,14.99,1604566640
33,Carnarvon,AU,-70.0217,-108.872,78.8,78,0,17.22,1604566640
34,Arlit,NE,-86.963,42.5371,84.92,16,71,4.63,1604566641
35,Qaanaaq,GL,76.393,-68.2222,-1.21,88,100,3.49,1604566641
36,NaN,NaN,-35.8852,-55.6205,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,-79.8396,-117.238,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,-0.0174849,47.0391,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,-66.7548,31.239,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,36.0489,14.8982,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,-60.0589,-130.104,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,-74.4984,-176.861,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,-64.266,-74.0364,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,16.7152,-53.8552,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,-26.1142,99.5315,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,-69.0244,-136.135,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,17.8404,7.02394,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,76.9321,0.746013,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,88.2664,-71.5921,NaN,NaN,NaN,NaN,NaN

In [7]:
weather_clean = weather_data.dropna(how='any')
weather_clean

,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Date
0,Hithadhoo,MV,-12.9123,80.7759,84.31,69,15,5.53,1604566635
1,Bredasdorp,ZA,-84.5771,25.4623,69.8,83,100,3.36,1604566635
2,Champerico,GT,9.25638,-94.6837,69.01,94,100,9.8,1604566635
3,Punta Arenas,CL,-63.5096,-107.755,48.2,87,0,13.87,1604566635
4,Naugachhia,IN,25.4823,86.9183,85.48,24,0,8.43,1604566434
5,Lebu,CL,-31.3751,-93.7432,47.37,86,0,8.72,1604566636
6,Kahului,US,26.6172,-153.769,80.6,65,20,5.82,1604566433
7,Parrita,CR,6.49023,-86.2608,68,100,90,4.7,1604566636
8,Port Blair,IN,10.7889,89.9016,84.04,69,0,10.11,1604566636
9,Hobart,AU,-53.9108,155.886,55.4,50,40,17.22,1604566400
10,Marondera,ZW,-17.8078,31.5445,79.97,40,72,10.76,1604566636
11,Ushuaia,AR,73.8382,-22.1377,46.4,75,75,10.29,1604566568
12,Jamestown,US,-80.8042,-17.3433,53.01,50,1,9.17,1604566590
13,Mataura,NZ,-34.2521,-2.81393,46.99,95,100,7,1604566637
14,Busselton,AU,-87.3281,-165.957,81,22,58,11.56,1604566637
15,Port Shepstone,ZA,-47.4012,97.923,76.55,75,77,19.77,1604566637
16,Butaritari,KI,-68.52,150.901,81.79,77,99,8.32,1604566637
17,Coyhaique,CL,-32.3374,33.2804,41,80,75,1.12,1604566637
18,Tamandaré,BR,25.3107,178.12,77.5,82,59,6.78,1604566638
19,Bluff,NZ,-49.9904,-82.6058,46.99,95,100,7,1604566638
20,Rikitea,PF,-76.6977,93.6975,73.6,69,1,10.47,1604566638
21,Karpathos,GR,-75.2297,59.1591,69.8,52,20,26.4,1604566638
22,Tasiilaq,GL,-9.74889,-31.17,24.26,81,100,10.76,1604566639
23,Pisco,PE,-65.1219,167.316,61,87,90,3.36,1604566639
24,East London,ZA,37.1597,65.5055,69.8,94,75,8.05,1604566639
25,Nikolskoye,RU,-42.6153,-140.974,46.4,75,75,17.9,1604566639
26,Port Alfred,ZA,-0.340486,74.8405,74.05,77,100,16.37,1604566446
27,Narsaq,GL,33.7109,28.0869,26.6,92,100,1.12,1604566535
28,Paso de Carrasco,UY,81.6168,-35.6288,53.6,81,0,8.05,1604566640
29,Mogadishu,SO,-17.6306,-83.1849,86,62,40,8.05,1604566530
30,Port Elizabeth,ZA,-54.2269,-62.5965,68,100,75,4.7,1604566640
31,Vaini,TO,-52.826,45.4171,73.4,88,20,6.93,1604566640
32,Bathsheba,BB,34.0312,177.348,78.8,74,20,14.99,1604566640
33,Carnarvon,AU,-70.0217,-108.872,78.8,78,0,17.22,1604566640
34,Arlit,NE,-86.963,42.5371,84.92,16,71,4.63,1604566641
35,Qaanaaq,GL,76.393,-68.2222,-1.21,88,100,3.49,1604566641

In [8]:
weather_cities = weather_clean.loc[(weather_clean['Humidity'] >100)]
weather_cities

Empty DataFrame
Columns: [City , Country, Latitude, Longitude, Temperature, Humidity, Cloudiness, Wind Speed, Date]
Index: []